#title {
    font-size: 2rem;
}
.container {
    max-width: none;
    padding: 0;
}
.row {
    margin: 0;
}
.col {
    padding-top: 15px;
}
.list-group {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.list-group-item {
    cursor: pointer;
}
.capitalize {
    text-transform: capitalize;
}
h1 {
    display: inline-block;
    padding: 5px;
}
p {
    padding-left: 5px;
}
#current-weather {
    border: 0.5px solid rgba(0,0,0,0.15);
    border-radius: 5px;
}
#future-header {
    width: 100%;
}
#future-weather {
    display: flex;
    flex-wrap: wrap;
}
#future-weather img {
    width: 30%;
}